In [93]:
import pandas as pd
import glob
import os
from matplotlib import pyplot as plt
%matplotlib inline

files = glob.glob("HS/DOG/csv/*")
files

df1 = pd.read_csv(files[0], sep="\t")

list(df1)

['DOG_end_local',
 'DOG_end_meta',
 'DOG_from_downstream_gene',
 'DOG_from_upstream_gene',
 'DOG_into_downstream_gene',
 'DOG_length',
 'DOG_start_local',
 'DOG_start_meta',
 'POG_into_upstream_gene',
 'TYPE',
 'chr',
 'dot',
 'dot2',
 'end',
 'gene_biotype_name',
 'gene_id',
 'gene_id_name',
 'inside_gene_opposite_strand:antisense',
 'inside_gene_opposite_strand:lincRNA',
 'inside_gene_opposite_strand:miRNA',
 'inside_gene_opposite_strand:ncRNA',
 'inside_gene_opposite_strand:piRNA',
 'inside_gene_opposite_strand:protein_coding',
 'inside_gene_opposite_strand:pseudogene',
 'inside_gene_opposite_strand:snRNA',
 'inside_gene_opposite_strand:snoRNA',
 'inside_gene_opposite_strand:tRNA',
 'inside_gene_same_strand:antisense',
 'inside_gene_same_strand:lincRNA',
 'inside_gene_same_strand:miRNA',
 'inside_gene_same_strand:ncRNA',
 'inside_gene_same_strand:piRNA',
 'inside_gene_same_strand:protein_coding',
 'inside_gene_same_strand:pseudogene',
 'inside_gene_same_strand:rRNA',
 'inside_gene_same_strand:snRNA',
 'inside_gene_same_strand:snoRNA',
 'inside_gene_same_strand:tRNA',
 'left_int_length',
 'length',
 'right_int_length',
 'source',
 'start',
 'strand',
 'type',
 'sample_name',
 'DOG_overlap_same_strand_local:protein_coding',
 'DOG_overlap_same_strand_meta:protein_coding',
 'DOG_overlap_opposite_strand_local:protein_coding',
 'DOG_overlap_opposite_strand_meta:protein_coding',
 'DOG_overlap_same_strand_local:lincRNA',
 'DOG_overlap_same_strand_meta:lincRNA',
 'DOG_overlap_opposite_strand_local:lincRNA',
 'DOG_overlap_opposite_strand_meta:lincRNA',
 'DOG_overlap_same_strand_local:tRNA',
 'DOG_overlap_same_strand_meta:tRNA',
 'DOG_overlap_opposite_strand_local:tRNA',
 'DOG_overlap_opposite_strand_meta:tRNA',
 'DOG_overlap_same_strand_local:pseudogene',
 'DOG_overlap_same_strand_meta:pseudogene',
 'DOG_overlap_opposite_strand_local:pseudogene',
 'DOG_overlap_opposite_strand_meta:pseudogene',
 'DOG_overlap_same_strand_local:rRNA',
 'DOG_overlap_same_strand_meta:rRNA',
 'DOG_overlap_same_strand_local:antisense',
 'DOG_overlap_same_strand_meta:antisense',
 'DOG_overlap_opposite_strand_local:antisense',
 'DOG_overlap_opposite_strand_meta:antisense',
 'DOG_overlap_same_strand_local:ncRNA',
 'DOG_overlap_same_strand_meta:ncRNA',
 'DOG_overlap_opposite_strand_local:ncRNA',
 'DOG_overlap_opposite_strand_meta:ncRNA',
 'DOG_overlap_same_strand_local:miRNA',
 'DOG_overlap_same_strand_meta:miRNA',
 'DOG_overlap_opposite_strand_local:miRNA',
 'DOG_overlap_opposite_strand_meta:miRNA',
 'DOG_overlap_same_strand_local:snoRNA',
 'DOG_overlap_same_strand_meta:snoRNA',
 'DOG_overlap_opposite_strand_local:snoRNA',
 'DOG_overlap_opposite_strand_meta:snoRNA',
 'DOG_overlap_same_strand_local:piRNA',
 'DOG_overlap_same_strand_meta:piRNA',
 'DOG_overlap_opposite_strand_local:piRNA',
 'DOG_overlap_opposite_strand_meta:piRNA',
 'DOG_overlap_same_strand_local:snRNA',
 'DOG_overlap_same_strand_meta:snRNA',
 'DOG_overlap_opposite_strand_local:snRNA',
 'DOG_overlap_opposite_strand_meta:snRNA']

In [72]:
def parse_df(f1):
    
    name = os.path.basename(f1)
    df = pd.read_csv(f1, sep="\t")
    elist = ["J2","INP"]

    enrich = ""
    for e in elist:
        if e in name:
            enrich = e

    tlist = ["N2","HS","OK"]
    treatment = ""
    for t in tlist:
        if t in name:
            treatment = t        
            

    df = df.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
    df = df[["sample_name","DOG_length", "gene_id_name", 'DOG_start_local','DOG_end_local',"chr",'strand',"TYPE"]]
    df["Enrichment"] = enrich 
    df["Treatment"] = treatment
    df = df[df["TYPE"]=="DOG"]
    df = df[df["DOG_length"]>100]
    df["sample_name"] = df["sample_name"].str.replace("__split","")
    df["sample_name"] = df["sample_name"].str.replace("_split","")
    df["sample_name"] = df["sample_name"].str.replace("_spl","")
    df["sample_name"] = df["sample_name"].str.replace("_sp","")
    df["sample_name"] = df["sample_name"].str.replace("_s","")
    return df

In [73]:

def get_venns(df,df2,col,title):
    dfAb= df[~df[col].isin(df2[col])]
    dfaB= df2[~df2[col].isin(df[col])]
    dfAB= df[df[col].isin(df2[col])]
    
    print(title)
    print("df ", len(df))
    print("df2 ", len(df2))
    
    
    print("1 ", len(dfAb))
    print("2 ", len(dfaB))
    print("both ", len(dfAB))
    print("******************")

In [74]:
df_final = pd.DataFrame()

for f in files:
    df = parse_df(f)
    df_final = df_final.append(df)
df = df_final

In [75]:
sample_list = df["sample_name"].unique().tolist()
treat_list = df["Treatment"].unique().tolist()
enrich_list = df["Enrichment"].unique().tolist()
enrich_list

['J2', 'INP']

In [76]:
g = df.groupby(by="sample_name", as_index=False)
s = g.size()
df_size = s.to_frame()
df_size = df_size.rename( columns={0: "Sample size"})
df_size["Sample"] = df_size.index
df_size

             Sample size    Sample
sample_name
N2-J2-1              139   N2-J2-1
N2-J2-2              129   N2-J2-2
N2-J2-3              156   N2-J2-3
N2HS_INP              32  N2HS_INP
N2HS_J2A             462  N2HS_J2A
N2HS_J2B             149  N2HS_J2B
N2WT_INP             113  N2WT_INP

In [77]:
df_TO    = df[ df["Enrichment"]=="INP"]
df_J2    = df[ df["Enrichment"]=="J2" ]
df_HS    = df[ df["Treatment"]=="HS"]
df_N2    = df[ df["Treatment"]=="N2"]
df_HS_J2 = df_J2[ df_J2["Treatment"]=="HS" ]
df_HS_TO = df_TO[df_TO["Treatment"]=="HS"]
df_N2_J2 = df_J2[ df_J2["Treatment"]=="N2" ]   
df_N2_TO = df_TO[df_TO["Treatment"]=="N2"]     
df_ALL = df
print("df ALL", len(df_ALL))        

print("df_TO\t", len(df_TO))         
print("df_J2\t", len(df_J2))         
print("df_HS\t", len(df_HS))         
print("df_N2\t", len(df_N2))         
print("df_HS_J2\t", len(df_HS_J2))   
print("df_HS_TO\t", len(df_HS_TO))   
print("df_N2_J2\t", len(df_N2_J2))   
print("df_N2_TO\t", len(df_N2_TO))   
    


df_TO    = df_TO.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_J2    = df_J2.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_HS    = df_HS.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2    = df_N2.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_HS_J2 = df_HS_J2.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_HS_TO = df_HS_TO.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2_J2 = df_N2_J2.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2_TO = df_N2_TO.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_ALL = df_ALL.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")

print("After dropping duplicates")

print("df_TO\t", len(df_TO))         
print("df_J2\t", len(df_J2))         
print("df_HS\t", len(df_HS))         
print("df_N2\t", len(df_N2))         
print("df_HS_J2\t", len(df_HS_J2))   
print("df_HS_TO\t", len(df_HS_TO))   
print("df_N2_J2\t", len(df_N2_J2))   
print("df_N2_TO\t", len(df_N2_TO))   
print("df ALL", len(df_ALL))

df ALL 1180
df_TO	 145
df_J2	 1035
df_HS	 643
df_N2	 537
df_HS_J2	 611
df_HS_TO	 32
df_N2_J2	 424
df_N2_TO	 113
After dropping duplicates
df_TO	 139
df_J2	 558
df_HS	 477
df_N2	 243
df_HS_J2	 475
df_HS_TO	 32
df_N2_J2	 211
df_N2_TO	 113
df ALL 577

In [78]:
get_venns(df_HS_J2,df_N2_J2,col="gene_id_name",title="J2 HS vs N2")
get_venns(df_HS_TO,df_N2_TO,col="gene_id_name",title="TO HS vs N2")
get_venns(df_TO,df_J2,col="gene_id_name",title="TO HS vs N2")

get_venns(df_HS_TO,df_HS_J2,col="gene_id_name",title="HS TO vs J2")
get_venns(df_N2_TO,df_N2_J2,col="gene_id_name",title="N2 TO vs J2")

J2 HS vs N2
df  475
df2  211
1  347
2  83
both  128
******************
TO HS vs N2
df  32
df2  113
1  26
2  107
both  6
******************
TO HS vs N2
df  139
df2  558
1  19
2  438
both  120
******************
HS TO vs J2
df  32
df2  475
1  2
2  445
both  30
******************
N2 TO vs J2
df  113
df2  211
1  32
2  130
both  81
******************

In [79]:
# Do the same for OK803

files = glob.glob("OK/DOG/csv/*")

df_final = pd.DataFrame()

for f in files:
    df = parse_df(f)
    df_final = df_final.append(df)
df = df_final

sample_list = df["sample_name"].unique().tolist()
treat_list = df["Treatment"].unique().tolist()
enrich_list = df["Enrichment"].unique().tolist()
enrich_list

['J2', 'INP']

In [80]:
g = df.groupby(by="sample_name", as_index=False)
s = g.size()
df_size = s.to_frame()
df_size = df_size.rename( columns={0: "Sample size"})
df_size["Sample"] = df_size.index
df_size

             Sample size    Sample
sample_name
N2-J2-1              139   N2-J2-1
N2-J2-2              129   N2-J2-2
N2-J2-3              156   N2-J2-3
N2WT_INP             113  N2WT_INP
OK8-J2-1             134  OK8-J2-1
OK8-J2-2             125  OK8-J2-2
OK8-J2-3              90  OK8-J2-3
OK80-INP             249  OK80-INP

In [81]:
df_TO = df[ df["Enrichment"]=="INP"]
df_J2 = df[ df["Enrichment"]=="J2" ]
df_OK = df[ df["Treatment"]=="OK"]
df_N2 = df[ df["Treatment"]=="N2"]
df_OK_J2 = df[ (df["Treatment"]=="OK") & (df["Enrichment"]=="J2") ]
df_OK_TO = df[ (df["Treatment"]=="OK") & (df["Enrichment"]=="INP") ]
df_N2_J2 = df[ (df["Treatment"]=="N2") & (df["Enrichment"]=="J2") ]
df_N2_TO = df[ (df["Treatment"]=="N2") & (df["Enrichment"]=="INP") ]
df_all = df


print("df_TO ", len(df_TO))    
print("df_J2 ", len(df_J2))    
print("df_OK ", len(df_OK))    
print("df_N2 ", len(df_N2))    
print("df_OK_J2 ", len(df_OK_J2)) 
print("df_OK_TO ", len(df_OK_TO)) 
print("df_N2_J2 ", len(df_N2_J2)) 
print("df_N2_TO ", len(df_N2_TO)) 
print("dfall ", len(df_ALL)) 


df_TO = df[ df["Enrichment"]=="INP" ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_J2 = df[ df["Enrichment"]=="J2" ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")

df_OK = df[ df["Treatment"]=="OK"].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2 = df[ df["Treatment"]=="N2"].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_ALL = df.sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")

df_OK_J2 = df[ (df["Treatment"]=="OK") & (df["Enrichment"]=="J2") ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_OK_TO = df[ (df["Treatment"]=="OK") & (df["Enrichment"]=="INP") ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2_J2 = df[ (df["Treatment"]=="N2") & (df["Enrichment"]=="J2") ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")
df_N2_TO = df[ (df["Treatment"]=="N2") & (df["Enrichment"]=="INP") ].sort_values('DOG_length', ascending=False).drop_duplicates("gene_id_name")

print("After dropping duplicates")


print("df_TO ", len(df_TO))    
print("df_J2 ", len(df_J2))    
print("df_OK ", len(df_OK))    
print("df_N2 ", len(df_N2))    
print("df_OK_J2 ", len(df_OK_J2)) 
print("df_OK_TO ", len(df_OK_TO)) 
print("df_N2_J2 ", len(df_N2_J2)) 
print("df_N2_TO ", len(df_N2_TO)) 
print("dfall ", len(df_ALL))

df_TO  362
df_J2  773
df_OK  598
df_N2  537
df_OK_J2  349
df_OK_TO  249
df_N2_J2  424
df_N2_TO  113
dfall  577
After dropping duplicates
df_TO  270
df_J2  245
df_OK  302
df_N2  243
df_OK_J2  173
df_OK_TO  249
df_N2_J2  211
df_N2_TO  113
dfall  370

In [82]:

get_venns(df_OK_J2,df_N2_J2,col="gene_id_name",title="J2 OK vs N2")
get_venns(df_OK_TO,df_N2_TO,col="gene_id_name",title="TO OK vs N2")
get_venns(df_TO,df_J2,col="gene_id_name",title="TO OK vs N2")

get_venns(df_OK_TO,df_OK_J2,col="gene_id_name",title="OK TO vs J2")

J2 OK vs N2
df  173
df2  211
1  34
2  72
both  139
******************
TO OK vs N2
df  249
df2  113
1  157
2  21
both  92
******************
TO OK vs N2
df  270
df2  245
1  125
2  100
both  145
******************
OK TO vs J2
df  249
df2  173
1  129
2  53
both  120
******************

In [83]:
df_out = pd.concat([df_HS,df_N2,df_OK])
df_out.to_csv("DoGs_ALL.csv", sep=",", index=None)

In [118]:
df = pd.concat([df_HS_J2,df_HS_TO,df_N2_J2,df_N2_TO,df_OK_J2,df_OK_TO])
df.to_csv("DoGs_collapsed_by_enrichment_and_treatment.csv", sep=",", index=None)

In [120]:
df["Treatment_Enrichment"] = df["Treatment"] +"_"+ df["Enrichment"]
df.head()

,sample_name,DOG_length,gene_id_name,DOG_start_local,DOG_end_local,chr,strand,TYPE,Enrichment,Treatment,Treatment_Enrichment
315,N2HS_J2A,29300,WBGene00022951,16931619,16943323,X,+,DOG,J2,HS,HS_J2
763,N2HS_J2A,19500,WBGene00197215,10043561,10048167,V,-,DOG,J2,HS,HS_J2
108,N2HS_J2A,16400,WBGene00012180,14785995,14800918,II,-,DOG,J2,HS,HS_J2
1180,N2HS_J2A,16200,WBGene00002019,9088617,9090077,V,+,DOG,J2,HS,HS_J2
564,N2HS_J2A,15900,WBGene00219343,18723771,18724748,V,-,DOG,J2,HS,HS_J2

In [145]:
tlist = df["Treatment_Enrichment"].unique().tolist()
names = df["gene_id_name"].unique().tolist()
tlist

['HS_J2', 'HS_INP', 'N2_J2', 'N2_INP', 'OK_J2', 'OK_INP']

In [158]:
df_f = pd.DataFrame(columns=tlist)
df_f["gene_id_names"] = names
df_f = df_f.fillna(value=0)
df_f.index = df_f["gene_id_names"]
df_f.head()

                HS_J2  HS_INP  N2_J2  N2_INP  OK_J2  OK_INP   gene_id_names
gene_id_names
WBGene00022951      0       0      0       0      0       0  WBGene00022951
WBGene00197215      0       0      0       0      0       0  WBGene00197215
WBGene00012180      0       0      0       0      0       0  WBGene00012180
WBGene00002019      0       0      0       0      0       0  WBGene00002019
WBGene00219343      0       0      0       0      0       0  WBGene00219343

In [159]:



for name in names:
    df1 = df[df["gene_id_name"]==name]
    tl = df1["Treatment_Enrichment"].unique().tolist()
    for t in tl:
        df_f.loc[name,t] = 1 
    
    
# df1 = df[df["gene_id_name"]==names[2]]

In [162]:
final_names = ["gene_id_names"]+tlist
df_f = df_f[final_names]
df_f.to_csv("df_for_pyupset.csv",sep=",",index=None)

In [151]:



# pd.DataFrame(tmp, columns=["First", "Second"]).set_index('First', drop=False)

In [153]:
df_f

     HS_J2  HS_INP  N2_J2  N2_INP  OK_J2  OK_INP   gene_id_names
0        0       0      0       0      0       0  WBGene00022951
1        0       0      0       0      0       0  WBGene00197215
2        0       0      0       0      0       0  WBGene00012180
3        0       0      0       0      0       0  WBGene00002019
4        0       0      0       0      0       0  WBGene00219343
5        0       0      0       0      0       0  WBGene00002018
6        0       0      0       0      0       0  WBGene00012618
7        0       0      0       0      0       0  WBGene00009588
8        0       0      0       0      0       0  WBGene00197228
9        0       0      0       0      0       0  WBGene00002017
10       0       0      0       0      0       0  WBGene00004677
11       0       0      0       0      0       0  WBGene00196816
12       0       0      0       0      0       0  WBGene00001784
13       0       0      0       0      0       0  WBGene00195813
14       0       0      0       0      0       0  WBGene00013172
15       0       0      0       0      0       0  WBGene00011231
16       0       0      0       0      0       0  WBGene00198348
17       0       0      0       0      0       0  WBGene00219590
18       0       0      0       0      0       0  WBGene00012813
19       0       0      0       0      0       0  WBGene00002020
20       0       0      0       0      0       0  WBGene00003331
21       0       0      0       0      0       0  WBGene00010989
22       0       0      0       0      0       0  WBGene00004512
23       0       0      0       0      0       0  WBGene00012620
24       0       0      0       0      0       0  WBGene00021599
25       0       0      0       0      0       0  WBGene00022092
26       0       0      0       0      0       0  WBGene00004567
27       0       0      0       0      0       0  WBGene00196396
28       0       0      0       0      0       0  WBGene00003308
29       0       0      0       0      0       0  WBGene00020861
..     ...     ...    ...     ...    ...     ...             ...
643      0       0      0       0      0       0  WBGene00012228
644      0       0      0       0      0       0  WBGene00002044
645      0       0      0       0      0       0  WBGene00021560
646      0       0      0       0      0       0  WBGene00219673
647      0       0      0       0      0       0  WBGene00012366
648      0       0      0       0      0       0  WBGene00220147
649      0       0      0       0      0       0  WBGene00006856
650      0       0      0       0      0       0  WBGene00044452
651      0       0      0       0      0       0  WBGene00189958
652      0       0      0       0      0       0  WBGene00006565
653      0       0      0       0      0       0  WBGene00019994
654      0       0      0       0      0       0  WBGene00007423
655      0       0      0       0      0       0  WBGene00007063
656      0       0      0       0      0       0  WBGene00006911
657      0       0      0       0      0       0  WBGene00220011
658      0       0      0       0      0       0  WBGene00007015
659      0       0      0       0      0       0  WBGene00014058
660      0       0      0       0      0       0  WBGene00016021
661      0       0      0       0      0       0  WBGene00016219
662      0       0      0       0      0       0  WBGene00021332
663      0       0      0       0      0       0  WBGene00022127
664      0       0      0       0      0       0  WBGene00011489
665      0       0      0       0      0       0  WBGene00219950
666      0       0      0       0      0       0  WBGene00014947
667      0       0      0       0      0       0  WBGene00000123
668      0       0      0       0      0       0  WBGene00021423
669      0       0      0       0      0       0  WBGene00020208
670      0       0      0       0      0       0  WBGene00011940
671      0       0      0       0      0       0  WBGene00007107
672      0       0      0       0      0       0  WBGene00000996

[673 rows x 7 columns]